<app-appnav></app-appnav>
<section class="jumbotron text-center">
    <div class="container">
    <h1 class="jumbotron-heading">Learn Code</h1>
    <p class="lead text-muted">Something short and leading about the collection below-its contents, the creator, ect.</p>
    <p>
        <a href="" class="btn btn-primary my-2">Get Started</a>
    </p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let eachProduct of products">
                <div class="card mb-4 shadow-sm">
                    <img
                    class="card-img-top"
                    alt="Thumbnail [100%x225]"
                    style="width: 100%; display: block;"
                    [src]="eachProduct.image"
                    data-holder-rendered="true"
                 />
                 <div class="card-body">
                    <h4 class="card-text">{{eachProduct.name}}</h4>
                    <p class="card-text">{{eachProduct.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="card-text">{{eachProduct.price | currency}}</h2>
                        <button type="button" 
                        class="btn" 
                        (click)="addProductToCart(eachProduct)" 
                        [class.btn-outline-primary]="findProductInCart(eachProduct)">
                                                    
                        <i class="fas fa-shopping-cart"></i>
                        </button>

                    </div>
                 </div>
                </div>

            </div>

        </div>
    </div>

</div>
