<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Learn It</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/orders">Orders</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <a class="nav-link p-2" routerLink="/cart" style="color: #fff;">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge badge-light" style="margin-left: 8px;" *ngIf="cart.length">{{cart.length}}</span>

            </a>

        </ul>
    </div>
</nav>
