<app-appnav></app-appnav>
<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout</h2>
    </div>
    <div class="row" *ngIf="cart.length; else noItemsInCart">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{cart.length}}</span>

            </h4>
            <ul class="list-group mb-3">
                <li
                class="list-group-item d-flex justify-content-between lh-condensed"
                *ngFor="let product of cart"
                >
                <div>
                    <h6 class="my-0">{{product.name}}</h6>
                    <small class="text-muted">{{product.description}}</small>
                </div>
                <span class="text-muted">{{product.price | currency}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>total (USD)</span>
                <strong>{{cartTotalPrice | currency}}</strong>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class=mb-3>Billing Address</h4>
            <form class="needs-validation" novalidate="" [formGroup]="checkoutForm" (ngSubmit)="checkoutOrder()">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName"
                            placeholder="" value=""required="" formControlName="firstName">
                            <div class="invalid-feedback">Valid first name is required</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName"
                            placeholder="" value=""required="" formControlName="lastName">
                            <div class="invalid-feedback">Valid last name is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="you@example.com" value="" required="" formControlName="email">
                        <div class="invalid-feedback">please enter a valid email address for shipping updates</div> 
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address"
                        placeholder="1234 Main St."
                        required="" formControlName="addressOne">
                        <div class="invalid-feedback">please enter Your shipping address</div> 
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2"
                        placeholder="Apartment or suite"  formControlName="addressTwo">
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required="" formControlName="country">
                        <option value="" Choose...></option>
                        <option>United States</option>
                        </select>
                        <div class="invalid-feedback">Please select a valid country.</div>
                    
                </div>
                <div class="col-md4 mb-3">
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required="" formControlName="state">
                    <option value="">Choose...</option>
                    <option>California</option>
                    <option>Texas</option>
                    <option>New York</option>
                    <option>Michigan</option>
                    <option>Arizona</option>
                    </select>
                    <div class="invalid-feedback">Please provide a valid state.</div>               
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Zip</label>
                    <input
                    type="text"
                    class="form-control"
                    id="zip"
                    placeholder=""
                    required=""
                    formControlName="zip"
                    >
                    <div class="invalid-feedback">Zip Code required.</div>
                </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" [disabled]="!checkoutForm.valid" type="submit">Place Order</button>
                
            </form>
        </div>
    </div>
    <ng-template #noItemsInCart>
        <h2 class="text-center">Your Cart is empty</h2>
    </ng-template>
</div>
